.mainContent {
	margin: auto;
	padding: 1rem;
	position: relative;
	overflow-x: hidden;
	max-width: calc(100% - 2rem);
	z-index: 1;
	&.GameOver {
		min-height: 100vh;
	}
	&:before {
		content: " ";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 0.05;
		z-index: -1;
		background: url(/images/background.jpg);
		background-size: contain;
	}
}

.overlay {
	visibility: hidden;
	position: fixed;
	z-index: 3;
	top: 150%;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.8);

	&.active {
		cursor: pointer;
		visibility: visible;
		top: 0;
	}
}

.h1 {
	font-size: 1.5rem;
	text-align: center;
	background: white;
	width: fit-content;
	margin: 0 auto 1rem;
	&:after {
		content: "";
		display: block;
		background: url(/images/logo-1.png) no-repeat;
		background-size: 100% auto;
		width: 10rem;
		height: 4.6rem;
		animation-name: logo;
		animation-duration: 1s;
		animation-iteration-count: infinite;
		animation-timing-function: ease;
	}
}

/* The animation code */
@keyframes logo {
	0%   {
		background: url(/images/logo-1.png) no-repeat;
		background-size: 100% auto;
	}
	50%  {
		background: url(/images/logo-2.png);
		background-size: 100% auto;
	}
	100% {
		background: url(/images/logo-1.png);
		background-size: 100% auto;
	}
}

.topColumn {
	width: 100%;
	margin: 0 auto 1rem;
	position: relative;
	.playNum {
		position: absolute;
		top: 0.2rem;
		right: 0rem;
		font-size: 1.4rem;
		z-index: 2;
		.title {
			display: flex;
			align-items: center;
			margin-bottom: 0.5rem;
			.gameSetting {
				width: 1.8rem;
				height: 1.8rem;
				margin-left: 0.4rem;
				font-size: 1.8rem;
				font-weight: bold;
				color: #000000;
				display: inline-flex;
				align-items: center;
				justify-content: center;
				background: white;
				box-shadow: 0rem 0.1rem 0.3rem rgb(0 0 0 / 30%);
				border-radius: 0.4rem;
				cursor: pointer;
				&:before {
					content: "";
					background: url(/images/atom.png) no-repeat;
					background-size: 1.8rem;
					width: 1.8rem;
					height: 1.8rem;
				}
				&.active:before {
					content: "✕";
					background: white;
					width: auto;
					height: auto;
				}
				&.hidden {
					display: none;
				}
			}
		}
		.settingBoard {
			display: none;
			position: absolute;
			top: 2.2rem;
			right: 0;
			background: white;
			padding: 1rem;
			border-radius: 0.4rem;
			border: 1px rgba(16, 16, 16, 0.3) solid;
			width: 14rem;
			&.active {
				display: block;
			}
			label {
				display: block;
				text-align: center;
				margin-bottom: 1rem;
			}
			.settingBtn {
				display: flex;
				align-items: center;
				border: 1px solid #000;
				border-radius: 24px;
				margin: auto;
				width: 10rem;
				input {
					width: 3.9rem;
					font-size: 1.5rem;
					text-align: center;
					border: 0px;
				}
				.plus, .minus {
					display: flex;
					align-items: center;
					justify-content: center;
					color: #000000;
					font-weight: bold;
					width: 3rem;
					height: 3rem;
					border: 0px;
					background: transparent;
					border-radius: 50%;
					font-size: 1.5rem;
				}
			}
		}
	}
	.overlay {
		z-index: 1;
	}
	.otherMoney {
		cursor: pointer;
		width: 6.8rem;
		font-size: 1.8rem;
		line-height: 2.1rem;
		font-weight: bold;
		text-align: left;
		border-radius: 1.5rem;
		position: absolute;
		top: 1.2rem;
		left: 0;
		&:after {
			content: "點擊關閉";
			font-size: 12px;
			color: rgba(16, 16, 16, 0.3);
			position: absolute;
			left: 0;
			top: -1.3rem;
		}
		img {
			height: 2.4rem;
		}
		&.active {
			z-index: 4;
			background: white;
			border: 2px solid #c82bcb;
		}
		&.disabled {
			background: white;
			color: #c82bcb;
			border: 2px solid #c82bcb;
			font-size: 1rem;
			line-height: 2.3rem;
			padding-left: 0.2rem;
			width: 5rem;
			&:after {
				content: "";
			}
		}
	}
	.publicMoney {
		display: block;
		border: 0.15rem solid gold;
		width: 10.5rem;
		font-size: 2.8rem;
		line-height: 3.6rem;
		font-weight: bold;
		text-align: center;
		background: white;
		border-radius: 30px;
		padding: 0 0.8rem;
		margin: auto;
		img {
			height: 3.4rem;
			float: left;
		}
	}
}

button.deal, button.shoot, button.pass, button.keepGoing, button.endGame, button.newGame, button.lose, button.win {
	position: relative;
	padding-left: 2rem;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 6rem;
	height: 3rem;
	&:before {
		content: "";
		position: absolute;
		/* top: 0; */
		left: 0.5rem;
		width: 1.8rem;
		height: 1.35rem;
	}
}

button.shoot {
	&:before {
		background: url(/images/hearts.jpg) no-repeat;
		background-size: auto 1.4rem;
	}
	&:disabled:before {
		background: url(/images/hearts-disabled.jpg) no-repeat;
		background-size: auto 1.4rem;
	}
}

button.keepGoing {
	width: 8.6rem;
	&:before {
		background: url(/images/diamonds.jpg) no-repeat;
		background-size: auto 1.4rem;
	}
	&:disabled:before {
		background: url(/images/diamonds-disabled.jpg) no-repeat;
		background-size: auto 1.4rem;
	}
}

button.pass {
	&:before {
		background: url(/images/spades.jpg) no-repeat;
		background-size: auto 1.4rem;
	}
	&:disabled:before {
		background: url(/images/spades-disabled.jpg) no-repeat;
		background-size: auto 1.4rem;
	}
}

button.endGame {
	width: 8.6rem;
	&:before {
		background: url(/images/clubs.jpg) no-repeat;
		background-size: auto 1.4rem;
	}
	&:disabled:before {
		background: url(/images/clubs-disabled.jpg) no-repeat;
		background-size: auto 1.4rem;
	}
}

button.deal {
	width: 8.6rem;
	&:before {
		background: url(/images/diamonds.jpg) no-repeat;
		background-size: auto 1.4rem;
	}
	&:disabled:before {
		background: url(/images/diamonds-disabled.jpg) no-repeat;
		background-size: auto 1.4rem;
	}
}

button.newGame {
	width: 8.6rem;
	margin: auto;
	display: flex;
	padding-left: 2.2rem;
	&:before {
		background: url(/images/hearts.jpg) no-repeat;
		background-size: auto 1.4rem;
	}
	&:disabled:before {
		background: url(/images/hearts-disabled.jpg) no-repeat;
		background-size: auto 1.4rem;
	}
}

button.lose {
	width: 9rem;
	&:before {
		background: url(/images/spades-white.svg) no-repeat;
		background-size: auto 1.4rem;
	}
}

button.win {
	width: 8rem;
	&:before {
		background: url(/images/hearts-white.svg) no-repeat;
		background-size: auto 1.4rem;
	}
}

.myGameBoard {
	max-width: 376px;
	min-height: calc(100vh - 9rem);
	margin: 0 auto;
	.gameBoard {
		display: flex;
		justify-content: center;
		margin: 0 auto 2rem;
		.cardWrapper {
			display:inline-block;
			margin: 0 calc((100% - 23rem)/6);
			width: 12rem;
			height: 10.8rem;
			position: relative;
			transform-style: preserve-3d; /* 3D效果 */
			transition: 1s ease;
			.card1, .card2, .card3 {
				display: block;
				position: absolute;
				width: 100%;
				height: 100%;
				backface-visibility: hidden;
			}
			img.clickHint {
				visibility: hidden;
			}
		}
		&:not(.flipped) {
			.cardWrapper {
				width: 7.5rem;
				height: 10.4rem;
				transform: rotateY(180deg); /* 繞著Y軸旋轉 */
			}
		}
		&.flipped {
			.cardWrapper {
				&:not(.flipped) {
					transform: rotateY(180deg); /* 繞著Y軸旋轉 */
					height: 10.5rem;
					margin: 0 0.35rem 0 0.5rem;
					img.clickHint {
						&.active {
							visibility: visible;
							width: 4rem;
							position: absolute;
							top: 4.7rem;
							left: 0.3rem;
							opacity: 0.3;
							transform: rotateY(180deg);
							animation-name: clickHint2;
							animation-duration: 2s;
							animation-iteration-count: infinite;
							animation-timing-function: ease;
						}
					}
					@keyframes clickHint2 {
						0%   {
							opacity: 1;
						}
						15%  {
							top: 4.2rem;
							left: 0.5rem;
							opacity: 1;
						}
						25%   {
							top: 4.2rem;
							left: 0.5rem;
							opacity: 0.3;
						}
						75%  {
							top: 4.2rem;
							left: 0.5rem;
							opacity: 1;
						}
						100% {
							opacity: 0;
						}
					}
				}
			}
		}
	}

	.bets {
		//width: max-content;
		margin: 0 auto 0.5rem;
		background: white;
		border: 1px solid rgba(16, 16, 16, 0.3);
		border-radius: 8px;
		padding: 1rem;
		display: none;
		&.active {
			display: block;
		}

		.title {
			display: block;
			width: 100%;
			margin-bottom: 0.5rem;
			text-align: center;
			font-size: 1.6rem;
			font-weight: bold;
		}

		.bigOrSmallArea {
			width: 100%;
			margin-bottom: 0.5rem;
			display: none;
			&.active {
				display: block;
			}
			.inputRadio {
				margin-right: 1rem;
				cursor: pointer;
				display: inline-flex;
				align-items: center;
				font-size: 1.5rem;
				input[type=radio] {
					height: 2rem;
					width: 2rem;
					margin-right: 0.5rem;
					accent-color: #dc3545;
				}
			}
		}

		.coin {
			display: inline-flex;
			width: 3.5rem;
			height: 3.5rem;
			justify-content: center;
			line-height: 3.5rem;
			border: 2px solid #ffc107;
			border-radius: 50%;
			margin: 0 0.1rem;
			cursor: pointer;
			background: white;
			color: #ffc107;
			font-size: 1.4rem;
			&.active {
				/*background-image: linear-gradient(to left, #BDBBBE 0%, #9D9EA3 100%), radial-gradient(88% 271%, rgba(255, 255, 255, 0.25) 0%, rgba(254, 254, 254, 0.25) 1%, rgba(0, 0, 0, 0.25) 100%), radial-gradient(50% 100%, rgba(255, 255, 255, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%);
				background-blend-mode: normal, lighten, soft-light;
				border: 2px solid grey;*/
				background: #ffc107;
				color:white;
			}
			&.disabled {
				background: rgba(16, 16, 16, 0.03);
				color: rgba(16, 16, 16, 0.12);
				border: 2px solid rgba(16, 16, 16, 0.05);
			}
		}

		.inputCoin {
			display: inline-flex;
			align-items: center;
			border: 1px solid #000;
			border-radius: 24px;
			margin: 0 0.3rem;
			input {
				width: 3.9rem;
				font-size: 1.5rem;
				text-align: center;
				border: 0px;
			}
			&.active {
				background: #ffc107;
				color:white;
				input {
					color: #000;
					background: #ffc107;
				}
			}
			.plus, .minus {
				display: flex;
				align-items: center;
				justify-content: center;
				color: #000000;
				font-weight: bold;
				width: 3rem;
				height: 3rem;
				border: 0px;
				background: transparent;
				border-radius: 50%;
				font-size: 1.5rem;
			}
		}
	}

	.dealCards {
		margin: auto;
		width: max-content;
		.passPay {
			&.active {
				display: block;
				text-align: center;
			}
			display: none;
			font-size: 1rem;
			margin-top: 0.5rem;
			.money {
				font-size: 1.1rem;
				img {
					width: 1.3rem;
				}
			}
		}
	}
}

#menu {
	position: fixed;
	bottom: 0.5rem;
	font-size: 1.1rem;
	width: calc(100% - 2rem);
	text-align: center;
	ul.nav {
		display: none;
		position: absolute;
		top: -7rem;
		right: 3rem;
		&.active {
			display: block;
			+ .openNav{
				font-size: 2rem;
				&:before {
					content: "✕";
					background: white;
					width: auto;
					height: auto;
				}
			}
		}
		li {
			margin-bottom: 0.4rem;
		}
	}

	.openNav {
		position: absolute;
		top: -3.2rem;
		right: 0;
		border: none;
		width: 2.5rem;
		height: 2.5rem;
		font-size: 2.5rem;
		font-weight: bold;
		color: #000000;
		display: flex;
		align-items: center;
		justify-content: center;
		background: white;
		box-shadow: 0rem 0.1rem 0.3rem rgb(0 0 0 / 30%);
		border-radius: 0.4rem;
		cursor: pointer;
		&:before {
			content: "";
			background: url(/images/atom.png) no-repeat;
			background-size: 2.5rem;
			width: 2.5rem;
			height: 2.5rem;
		}
	}

	.privateMoneyWrapper {
		//padding: 0.6rem;
		padding-bottom: 0;
		padding-left: 0.2rem;
		margin: auto;
		overflow-x: scroll;
		overflow-y: hidden;
		ul.privateMoney {
			display: flex;
			li {
				display: inline-flex;
				padding: 1rem 0.5rem 0rem 0;
				min-width: 11.5rem;
				height: 4.8rem;
				text-align: left;
				font-size: 2rem;
				font-weight: bold;
				//position: relative;
				-webkit-user-select:none;
				-moz-user-select:none;
				-o-user-select:none;
				user-select:none;
				order: 2;
				.info{
					.icon {
						display: flex;
						align-items: center;
						font-size: 1.6rem;
						margin-bottom: 0.2rem;
						height: 2rem;
						img {
							height: 2rem;
							z-index: 1;
						}
						img.otherMoney {
							display: block;
						}
						img.privateMoney {
							display: none;
							height: 1.6rem;
							margin: 0.2rem;
						}
						label.playerDiamondBets{
							&.goal, &.fail {
								font-size: 12px;
								border-radius: 0.2rem;
								padding: 0.2rem 0;
								text-align: center;
								color: white;
							}
							&.goal {
								background: #dc3545;
								min-width: 3rem;
							}
							&.fail {
								background: #000000;
								min-width: 4rem;
							}
						}
					}
					.myMoney {
						img {
							height: 2rem;
							margin-right: 0.1rem;
						}
					}
				}
				&.me {
					.info{
						.icon {
							img.otherMoney {
								display: none;
							}
							img.privateMoney {
								display: block;
							}
						}
					}
				}
				&.isMe {
					color: #dc3545;
					order: 1;
					&:before {
						content: "";
						background: url(/images/me.svg) no-repeat;
						background-size: 2rem;
						width: 2rem;
						height: 2rem;
						position: absolute;
						top: -1rem;
						left: 2.5rem;
					}
					.role {
						cursor: pointer;
					}
				}
				.roleName {
					width: 12px;
					font-size: 12px;
				}
				.role {
					display: inline-flex;
					align-items: center;
					justify-content: right;
					width: 5rem;
					height: 4.5rem;
					margin-right: 0.2rem;
					img {
						width: auto;
						max-height: 100%;
						z-index: 1;
						&.king {
							max-height: 110%;
						}
						&.king-win {
							margin-right: -0.2rem;
						}
						&.king-lose {}
						&.king2 {
							margin-top: -0.3rem;
							margin-right: 0.2rem;
							max-height: 95%;
						}
						&.king2-win {}
						&.king2-lose {}
						&.queen-flower {
							margin-top: -0.3rem;
							max-height: 95%;
						}
						&.queen-flower-win {}
						&.queen-flower-lose {}
						&.queen {}
						&.queen-win {}
						&.queen-lose {}
						&.prince {}
						&.prince-win {
							margin-top: -0.3rem;
						}
						&.prince-lose {
							margin-right: 0.5rem;
						}
						&.prince2 {
							margin-right: 0.5rem;
						}
						&.prince2-win {}
						&.prince2-lose {
							margin-right: 0.5rem;
						}
					}
				}
			}
		}
	}

	.privateMoneyWrapper::-webkit-scrollbar {
		height: 0.4rem;
	}

	.privateMoneyWrapper::-webkit-scrollbar-thumb {
		background-color: #afafaf;
		border-radius: 10px;
	}

	&.active {
		z-index: 4;
		.privateMoneyWrapper {
			border-radius: 0.4rem;
			background: url(/images/background-transparent.jpg);
			background-size: cover;
		}
	}
}

table.gameOver {
	margin-bottom: 3rem;
	width: 100%;
	background: white;
	th {
		font-weight: bold;
		background: gold;
	}
	th, td {
		border: 1px solid;
		text-align: center;
		padding: 1rem 0.5rem;
		font-size: 1.4rem;
		img {
			width: 60%;
		}
	}
}

.waiting.waitingText, .loginFail.waitingText {
	min-height: 80vh;
	margin-top: 5rem;
	text-align: center;
	font-size: 1.4rem;
}

.diamondGameBoard {
	max-width: 376px;
	min-height: unset;
	height: auto;
	margin: 11rem 1rem 1rem;
	padding: 1rem 0.2rem;
	background: white;
	border-radius: 0.4rem;
	background: url(/images/background-transparent.jpg);
	background-size: cover;
	.gameBoard{
		display: flex;
		.card3 {
			margin: 0 0.8rem 0 0.6rem;
			width: 13.4rem;
			border: 1.2px solid #000;
			&.active {
				margin: 0 0.9rem;
				width: 13.2rem;
				border: none;
			}
		}
	}
}

@-webkit-keyframes  shineRed {
	from { -webkit-box-shadow: 0 0 5px #bbb; }
	50% { -webkit-box-shadow: 0 0 10px red; }
	to { -webkit-box-shadow: 0 0 5px #bbb; }
}
.diamondBets {
	max-width: 376px;
	margin: auto;
	text-align: center;
	margin-bottom: 1rem;
	button.lose, button.win {
		margin: 0 1rem;
		&.active {
			-webkit-box-shadow: 0 0 1.2rem white;
			border: 1px solid white;
			/*-webkit-animation-name: shineRed;
			-webkit-animation-duration: 3s;
			-webkit-animation-iteration-count: infinite;*/
		}
	}
	button.win {
		color: white;
		background: #dc3545;
	}
	button.lose {
		color: white;
		background: #000000;
	}
}

.closeModalHint, .diamondPayHint {
	max-width: 376px;
	margin: auto;
	text-align: center;
	font-size: 1rem;
	color: white;
	opacity: 0.8;
	position: relative;
	visibility: hidden;
	&.active {
		visibility: visible;
	}
	img {
		position: absolute;
		top: -0.8rem;
		right: 5rem;
		width: 2.5rem;
	}
}
.closeModalHint {
	img {
		animation-name: clickHint;
		animation-duration: 2s;
		animation-iteration-count: infinite;
		animation-timing-function: ease;
	}
}
@keyframes clickHint {
	0%   {
		top: -0.3rem;
		right: 5rem;
		opacity: 0.3;
	}
	50%  {
		top: -0.6rem;
		right: 5.3rem;
		opacity: 1;
	}
	100% {
		top: -0.3rem;
		right: 5rem;
		opacity: 0.3;
	}
}
.diamondPayHint {
	margin-bottom: 3rem;
	img {
		position: static;
		width: 1.3rem;
	}
}

@media screen and (min-width: 377px) {
	.topColumn {
		max-width: 376px;
	}

	.myGameBoard {
		.gameBoard {
			/*.cardWrapper {
				margin: 0 calc((100% - 23rem)/6);
			}*/
			&:not(.flipped) {
				.cardWrapper {
					width: 7.5rem;
					height: 10.5rem;
				}
			}
			&.flipped {
				.cardWrapper {
					&:not(.flipped) {
						width: 11.4rem;
						height: 10.5rem;
					}
				}
			}
		}
	}

	#menu {
		.openNav {
			top: -3.2rem;
			right: calc((100% - 376px)/2);
		}

		ul.nav {
			top: -7rem;
			right: calc((100% - 376px + 6rem) / 2);
			li {

			}
		}

		.privateMoneyWrapper {
			width: 376px;
			ul.privateMoney {
				li {
					&.isMe {
						&:before {
							position: absolute;
							top: -1rem;
							left: calc((100% - 376px)/2 + 2.4rem);
						}
					}
				}
			}
		}
	}

	table.gameOver {
		max-width: 376px;
		margin: 0 auto 3rem;
	}

	.diamondGameBoard {
		margin: 11rem auto 1rem;
		.gameBoard{
			.card1 {
				margin-left: 1rem;
			}
			.card3 {
				margin: 0 1rem 0 0;
				width: 11.8rem;
				//height: 10.6rem;
				border: 1.2px solid #000;
				background-size: 14.7rem auto;
				&.active {
					border: none;
					background-size: auto auto;
				}
			}
		}
	}
}

@media screen and (max-width: 374px) {
	.mainContent {
		padding: 1rem 0;
		max-width: 100%;
	}

	.topColumn{
		.playNum {
			.title {
				.gameSetting {
					margin-right: 0.2rem;
				}
			}
		}
		.publicMoney {
			width: 8rem;
			font-size: 2rem;
			line-height: 2.8rem;
			img {
				height: 2.8rem;
			}
		}
		.otherMoney {
			width: 4.6rem;
			font-size: 2rem;
			line-height: 2rem;
			margin-left: 0.2rem;
			img {
				height: 2rem;
			}
			&.disabled {
				width: 4.6rem;
				line-height: 2rem;
			}
		}
	}

	.myGameBoard {
		.gameBoard {
			.cardWrapper {
				margin: 0 0.2rem;
			}
			&:not(.flipped) {
				.cardWrapper {
					width: 7.2rem;
					height: 10.5rem;
					.card1, .card2, .card3 {
						background-size: 13.8rem 12.4rem;
					}
				}
			}
			&.flipped {
				.cardWrapper {
					margin: 0;
					width: 7.6rem;
					&:not(.flipped) {
						width: 7.3rem;
						height: 10.5rem;
						margin: 0 0.2rem 0 0.4rem;
						.card1, .card2, .card3 {
							background-size: 14.1rem 12.4rem;
						}
					}
				}
			}
		}

		.bets {
			margin: 0 0.4rem 0.5rem;
			text-align: center;
			padding: 1rem 0;
			.coin {
				width: 3.5rem;
				height: 3.5rem;
				line-height: 3.5rem;
			}
			.inputCoin {
				input {
					width: 3.6rem;
				}
				.plus, .minus {
					width: 2.5rem;
				}
			}
		}
	}

	#menu {
		width: 100%;
	}

	.diamondGameBoard {
		margin: 9.5rem auto 1rem;
		padding: 1rem 0rem;
		.gameBoard{
			.card1, .card2 {
				margin: 0;
				width: 10rem;
				&.active {
					margin: 0;
				}
			}
			.card3 {
				margin: 0 0.1rem;
				width: 10rem;
				height: 10.5rem;
				background-size: 14.5rem auto;
				&.active {
					margin: 0;
					width: 10rem;
					height: auto;
					background-size: auto;
				}
			}
		}
	}
	.diamondPayHint {
		margin-bottom: 1rem;
	}
	.closeModalHint {
		img {
			animation-name: clickHint;
			animation-duration: 2s;
			animation-iteration-count: infinite;
			animation-timing-function: ease;
		}
	}
	@keyframes clickHint {
		0%   {
			top: -0.3rem;
			right: 3.5rem;
			opacity: 0.3;
		}
		50%  {
			top: -0.6rem;
			right: 3.8rem;
			opacity: 1;
		}
		100% {
			top: -0.3rem;
			right: 3.5rem;
			opacity: 0.3;
		}
	}
}